.logo {
  text-decoration: none;
  color: $main-text-color;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;

  &--blue {
    color: $button-color;
  }
}

.footer-address__logo {
  color: $button-text-color;
  margin: 0px;
}
