$background-color: #2f303a;
$button-color: #2196f3;
$main-text-color: #212121;
$secondary-text-color: #757575;
$button-text-color: #ffffff;
$secondary-background: #f5f4fa;
$project-item-border: #e5e5e5;
$header-border: #ececec;
$icon-def: #afb1b8;
$background-overlay-offers: #2f303acc;
$footer-placrholder-color: #75757580;
$request-form-border-color: #21212133;